
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



  *{
    font-family: 'Poppins', sans-serif;
  }

  form input{
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  .img{
    width:200px;
  }

  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
  }

  .formulario{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
  }
  .title{
    font-family: 'Poppins', sans-serif;
  font-size: 3.5em;
  font-weight: 700;

  }