

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4vw;
}



.title{
    font-family: 'Poppins', sans-serif;
  font-size: 5.5em;
  font-weight: 700;
  text-align: center;

}

.btnlist{
  margin-top: -5vh;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  list-style-type: none;
}

.dabuttons{
  margin: 2px;
  width:8vw;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width:600px;
  text-align: justify;
   gap:3vw;
   margin-top: -80px;
}

.daimage{
  width:300px;
}
.title2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:2vh;
}
